<launch>
  <arg name="use_sim_time" value="false"/>
  <arg name="right" default="192.168.17.202"/>
  <arg name="left" default="192.168.17.207"/>
  <arg name="receive_port" default="5000"/>
  <arg name="receive_port_2" default="5001"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="fps" default="30"/>
  <arg name="camera_right" default="camera_right"/>
  <arg name="camera_left" default="camera_left"/>

  <include file="$(find neato_node)/launch/bringup_minimal.launch">
	 <arg name="host" value="$(arg left)"/>
  </include>

  <include file="$(find cv_project)/launch/Camera/raspi_nodelet_udp_multi.launch" ns="camera_right">
	 <arg name="host" value="$(arg right)"/>
   <arg name="receive_port" value="$(arg receive_port)"/>
   <arg name="width" value="$(arg width)"/>
   <arg name="height" value="$(arg height)"/>
   <arg name="fps" value="$(arg fps)"/>
   <arg name="camera_name" value="$(arg camera_right)"/>
  </include>

  <include file="$(find cv_project)/launch/Camera/raspi_nodelet_udp_multi.launch" ns="camera_left">
	 <arg name="host" value="$(arg left)"/>
   <arg name="receive_port" value="$(arg receive_port_2)"/>
   <arg name="width" value="$(arg width)"/>
   <arg name="height" value="$(arg height)"/>
   <arg name="fps" value="$(arg fps)"/>
   <arg name="camera_name" value="$(arg camera_left)"/>
  </include>

</launch>
